body {
  background-color: #333;
  color: white;
  font-family: system-ui;
  padding: 10%;
  margin: 10%;
}

button {
  margin: auto 0;
  width: 100px;
  font-size: 24px;
}

h1 {
  text-align: center;
  margin-top: 35%;
}

.action {
  display: flex;
  justify-content: center;
}